@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  width: 100%;
  overflow-x: hidden;
  overflow-y: visible;
}
.ke {
  width: 100px;
  height: 90px;
  margin-top: 20px;
  color: rgb(255, 196, 0);
}
.mainimage{
  background-image:url(../images/laptop-murjp1nk4lp1idlt.jpg); 
  background-repeat: no-repeat; 
  background-position: center; 
  background-size: 100% 100vh;
  height: 100vh;
  width: 100vw;  
} 
.textimage {
  margin: 10px;
  text-align: center;
  margin-top: 10%;
  margin-right: 60%;
  color: white; 
  
}
@media (max-width: 768px) {
  .mainimage {
    height: 80vh;
    background-size: cover;
    background-position: center;
  }
    .textimage{
    margin-right: 0px;
    margin-top: 100px;
  }
}
